<table class="table table-sm">
  <thead>
    <tr>
      <th></th>
      <th>レシピ名</th>
      <th>ユーザー</th>
      <th>コメント数</th>
      <th>投稿日</th>
    </tr>
  </thead>
  <tbody>
    <% recipes.each do |recipe| %>
    <tr>
      <td>
        <%= link_to admin_recipe_path(recipe.id) do %>
          <%= image_tag recipe.get_recipe_image, size: '40x30',
          style: "border-radius: 20px;" %>
        <% end %>
      </td>
      <td>
        <%= link_to admin_recipe_path(recipe.id) do %>
          <%= recipe.name %>
        <% end %>
      </td>
      <td><%= recipe.user.name.truncate(10) %></td>
      <td><%= recipe.comments.count %></td>
      <td><%= recipe.created_at.strftime("%Y年%m月%d日") %></td>
    </tr>
    <% end %>
  </tbody>
</table>