  <% recipes.each do |recipe| %>
      <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 image_index">
        <div class="row-fluid">
            <%= link_to recipe_path(recipe.id) do %>
              <%= image_tag recipe.get_recipe_image(280, 210) ,
              style: "border-radius: 20px 20px 0 0;" %>
            <% end %>
          <div class="user_image_index">
            <%= image_tag recipe.user.get_user_image(50, 50),
            style: "border-radius: 50%;" %>
          </div>
        </div>
          <div class="recipe_name">
          <%= recipe.name %>
          <% if user_signed_in? %>
            <div id="recipe_<%= recipe.id %>" class="fav_btn">
              <%= render "public/favorites/favorites", recipe: recipe %>
            </div>
          <% end %>
          </div>
      </div><br>
  <% end %>

