
<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h4 class="text-center">下書きリスト<%= @recipes.count %>件</h4>
      <table class="col-8 mx-auto table">
        <thead>
          <tr>
            <th class="col-4">レシピ名</th>
            <th class="col-3">ジャンル名</th>
            <th class="col-2"></th>
          </tr>
        </thead>
        <tbody>
          <% @recipes.each do |recipe| %>
          <tr>
            <% if recipe.name == "" %>
              <td>※未入力</td>
            <% else %>
              <td><%= recipe.name %></td>
            <% end %>
            <% if recipe.genre == nil %>
            <td>※未入力</td>
            <% else %>
            <td><%= recipe.genre.name %></td>
            <% end %>
            <td><%= link_to "編集", edit_recipe_path(recipe.id), class: "btn btn-success" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <%= paginate @recipes, theme: 'bootstrap-5' %>
  </div>
</div>