<div class="container">
  <div class="row mx-auto">
    <%= form_with model: @recipe, url: recipes_path ,method: :post, local: true do |f| %>
      <!--レシピ-->
      <div class="form-group">
        <%= f.label :レシピ名 %>
        <%= f.text_field :name %><br>
        <%= f.label :レシピ紹介 %>
        <%= f.text_field :introduction %><br>
        <%= f.file_field :recipe_image, accept: "image/*" %><br>
        <%= f.label :ジャンル %>
        <%= f.collection_select :genre_id, @genres, :id, :name, include_blank: "--選択してください--" %>
      </div>

      <div>
        <h4>材料</h4>
        <table class="table">
          <thead>
            <tr>
              <th>材料</th>
              <th>分量</th>
            </tr>
          </thead>
        </table>
        <section class="ingredient">
          <div class="field">
            <%= f.fields_for :ingredients do |ingredient| %>
              <%= render "ingredient_fields", f: ingredient %>
            <% end %>
           </div>
        </section>
        <div class="links">
          <%= link_to_add_association "材料追加", f, :ingredients, class:"btn btn-primary" %>
        </div><br>
      </div>

      <!--作り方入力フォーム-->
      <div>
        <h4>作り方</h4>
        <table class="table">
          <thead>
            <tr>
              <th class="col-6"></th>
              <th>手順</th>
            </tr>
          </thead>
        </table>
        <section class="step">
          <div class="field">
            <%= f.fields_for :steps do |step| %>
              <%= render "step_fields", f: step %>
            <% end %>
          </div>
        </section>
        <div class="links">
          <%= link_to_add_association "作り方追加", f, :steps, class:"btn btn-primary" %>
        </div><br>
        <div class="form-btn">
          <%= f.submit '投稿', class:"btn btn-success" %>
        </div>
    <% end %>
      </div>


  </div>
</div>

