<!--ジャンル一覧リンク表示-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-md-2 mx-auto mb-5">
      <div class="genre-flame">
        <div class="row">
          <div class="col-12 mx-auto text-center mb-3 recipe-new">
            <%= link_to new_recipe_path, class: "btn btn-success recipe-new" do %>
              <i class="fas fa-pen"></i>レシピ投稿
            <% end %>
          </div>
          <div class="col-sm-5 col-md-10 mx-auto genre-flame-item text-center">
            <%= link_to "総合ランキング", rank_recipes_path %>
          </div>
          <div class="col-sm-5 col-md-10 mx-auto genre-flame-item text-center">
            <%= link_to "新着一覧", recipes_path %>
          </div>
        </div><br>
        <div class="row">
          <div class="col-sm-12 text-center ranking">
            <strong>ジャンル毎ランキング</strong>
          </div>
          <% @genres.each do |genre| %>
          <div class="col-sm-5 col-md-10 mx-auto genre-flame-item text-center">
            <%= link_to rank_recipes_path(genre_id: genre.id) do %>
              <%= genre.name %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <!--一覧表示-->
    <div class="col-sm-12 col-md-10">
      <% if current_page?(rank_recipes_path(genre_id: @genre.id)) %>
      <div class="col-12 index-title text-center">
        <h3 class="mx-auto">
          <i class="fas fa-utensils"></i>
          <%= @genre.name %>ランキング
        </h3>
        <%= link_to new_recipe_path, class: "btn btn-outline-success recipe-new-none" do %>
          <i class="fas fa-pen"></i>
        <% end %>
      </div>
      <% else %>
      <div class="col-12 index-title text-center">
        <h3 class="mx-auto"><i class="fas fa-utensils"></i>
          総合ランキング
        </h3>
        <%= link_to new_recipe_path, class: "btn btn-outline-success recipe-new-none" do %>
          <i class="fas fa-pen"></i>
        <% end %>
      </div>
      <% end %>

      <div class="row">
        <div class="col-12">
          <%= page_entries_info @recipes %>
        </div><br><br>
        <%= render 'public/recipes/index', recipes: @recipes %>
      </div>
      <div class="row justify-content-center mt-5">
        <%= paginate @recipes, theme: 'bootstrap-5' %>
      </div>
    </div>
  </div>
</div>