<div class="container-fluid">
  <div class="col text-center">
    <div class="recipe-name-show"><%= @recipe.name %></div>
  </div><br><br>
  <div class="row">
    <div class="col-sm-12 col-lg-7">
      <div class="row">
        <% if @recipe.status == "published" %>
        <div class="col-12 mx-auto">
          <div class="image-tag">
            <div class="col text-center">
              <%= image_tag @recipe.get_recipe_image, size: '800x600', class: "image-tag-1" %>
            </div>
          </div><br>

          <div class="col-12 count-show">
            <div class=" btn genre-flame-item-show">
              <%= link_to @recipe.genre.name, recipes_path(genre_id: @recipe.genre.id) %>
            </div>
            <!--いいね機能-->
            <% if user_signed_in? %>
              <div id="recipe_<%= @recipe.id %>" class="col text-right show-fav">
                <%= render "public/favorites/favorites", recipe: @recipe %>
              </div>
            <% end %>
          </div><br>

          <div class="recipe-flame">
            <%= @recipe.introduction %>
          </div>
        </div><br><br>
        <% end %>
      </div>

        <!--レシピ紹介、材料-->
      <div class="row">
        <div class=" col-sm-12 col-md-5">
        　<!--レシピ材料-->
          <table class="table table-sm table-recipe">
            <thead>
              <tr>
                <th>材料</th>
                <th>個数</th>
              </tr>
            </thead>
            <tbody>
            <% @recipe.ingredients.each do |ingredient| %>
              <tr>
                <td><%= ingredient.name %></td>
                <td><%= ingredient.amount %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div class="col-sm-12 col-md-7 mt-4">
            <!--レシピ手順-->
          <table class="table table-sm table-recipe">
            <thead>
              <tr>
                <th class="col-1"></th>
                <th>説明</th>
              </tr>
            </thead>
            <tbody>
            <% @recipe.steps.each.with_index(1) do |step, i| %>
              <tr>
                <td class="text-center">
                <div class="step-number"><%= i %></div>
                </td>
                <td><%= step.explanation %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <% if @recipe.user == current_user %>
            <div class="form-btn text-center">
              <%= link_to "編集", edit_recipe_path, class: "btn btn-success" %>
              <%= link_to "削除", @recipe, method: :delete, class: "btn btn-danger", data: {confirm: "本当に削除しますか？"} %>
            </div>
          <% end %>
        </div>
      </div><br>
    </div>

    <div class="col-sm-10 col-lg-5 mx-auto">
      <div class="row">
        <div class="col-12">
          <!--コメント機能-->
          <div class="recipe-index">
            <%= render "public/comments/index", recipe: @recipe %>
          </div><br>
          <% if user_signed_in? %>
            <div class="col-12 mx-auto comment-form">
              <%= render "public/comments/form" %>
            </div>
            <p class="ml-3">※未記入の場合、送信できません。</p>
          <% end %>
        </div>
      </div>

      <!--ユーザー情報-->
      <% if user_signed_in? %>
      <div class="row">
        <div class="col-sm-7 col-lg-6 mt-3 recipe-user mx-auto">
          <div class="recipe-user-show mt-3">
            <%= link_to user_path(@recipe.user.id) do %>
              <div class="text-center">
                <%= image_tag @recipe.user.get_user_image, size: '100x100', class: "user-icon" %>
              </div>
            <% end %>
            <%= link_to user_path(@recipe.user.id) do %>
              <div class="recipe-user-name text-center">
                <%= @recipe.user.name %>
              </div>
            <% end %>
          </div><br>
          <div class="user-info">
            <div class="user-info-count">投稿数　<%= @recipe.user.recipes.published.count %></div>
             <% if @recipe.user != current_user %>
               <div  id="follow-btn_<%= @recipe.user.id %>" class=" col text-right">
                 <%= render "public/relationships/followbtn", user: @recipe.user %>
               </div>
             <% end %>
          </div><br>
          <% if @recipe.user.introduction != nil %>
            <p class="recipe-user-introduction">
              <%= @recipe.user.introduction.truncate(50) %>
            </p>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>