<div class="container">
  <div class="row">
    <h2>新規登録</h2>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <%= form_with model: @user, url:user_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
      <table class="table">
        <tr>
          <td class="col-md-6"><%= f.label :ニックネーム %></td>
          <td class="col-md-6"><%= f.text_field :name, autofocus: true, autocomplete: "name" %></td>
        </tr>
        <tr>
          <td><%= f.label :メールアドレス %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <td><%= f.label :パスワード %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> 字以上)</em>
              <% end %>
          </td>
          <td><%= f.password_field :password, autocomplete: "new-password" %></td>
        </tr>
        <tr>
          <td><%= f.label :パスワード確認 %></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
        </tr>
      </table>
      <div class="actions text-center"><%= f.submit "新規登録", class: "btn btn-success" %></div><br>
      <% end %>
      <div class="text-center">
        <%= render "public/shared/links" %>
      </div>
    </div>
  </div>
</div>


