<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <%= form_with model: @user, local: true do |f| %>
      <div class="form-group">
        <%= f.label :アイコン %>
        <%= f.file_field :user_image, accept: "image/*" %>
      </div>
      <div class="form-group">
        <%= f.label :ニックネーム %>
        <%= f.text_field :name %>
      </div>
      <div class="form-group">
        <%= f.label :紹介文 %>
        <%= f.text_area :introduction, size: "30x5" %>
      </div>
      <div class="form-btn">
        <%= f.submit "更新", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>