<div class="container-fluid">
  <div class="row">
  <% if @all_recipes.count == 0 %>
    <div class="col-10 mt-5 mx-auto text-center">
      <h1>マイリストはまだありません</h1>
    </div>
  <% else %>
    <!--ジャンルリンク表示-->
    <div class="col-sm-10 col-md-2 col-lg-2 col-xl-2 mx-auto mb-5">
      <div class="genre-flame">
        <div class="row">
          <div class="col-sm-5 col-md-10 mx-auto genre-flame-waku text-center">
            <%= link_to "マイリスト", favorites_user_path(current_user) %>
          </div>
        </div>
        <div class="row">
        <% @genres.each do |genre| %>
          <% if @recipes.where(genre_id: genre).count != 0 %>
            <div class="col-sm-5 col-md-10 mx-auto genre-flame-waku text-center">
              <%= link_to genre.name, favorites_user_path(genre_id: genre.id) %>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
    <!--マイリスト一覧-->
    <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
      <h4 class="text-center">
        <i class="fas fa-heart mylist"></i>マイリスト
      </h4><br>
      <div class="col-12">
        <%= page_entries_info @all_recipes %>
      </div><br>
      <div class="row">
        <%= render "public/recipes/index", recipes: @all_recipes %>
      </div>
      <div class="row justify-content-center mt-5">
        <%= paginate @all_recipes, theme: 'bootstrap-5' %>
      </div>
    </div>
  <% end %>
  </div>
</div>
