<h1>マイリスト一覧</h1>
<%= @user.favorites.count %>
<table class="table">
  <% @recipes.each do |recipe| %>件
  <tr>
    <th>
      <%= link_to recipe_path(recipe.id) do %>
        <%= image_tag recipe.get_recipe_image(80, 80) %>
      <% end %>
    </th>
    <th><%= recipe.name %></th>
    <th><%= recipe.genre.name %></th>
    <th>
    </th>
    <th></th>
  </tr>
  <% end %>
</table>