<div class="container">
  <div class="row">
    <!--ユーザー紹介-->
    <div class="col-4">
      <%= image_tag @user.get_user_image(100, 100), style: "border-radius: 50%; width: 100px; height: 100px; object-fit:cover;" %>
      <table class="table table-sm">
        <tr>
          <th class="col-5">ニックネーム</th>
          <th><%= @user.name %></th>
          <th></th>
        </tr>
        <tr>
          <th>紹介文</th>
          <th><%= @user.introduction %></th>
        </tr>
        <tr></tr>
        <tr>
          <th>投稿数</th>
          <th><%= @recipes.published.count %></th>
          <th></th>
        </tr>
        <!--フォロー、いいね-->
        <tr>
          <th>フォロー中</th>
          <th><%= link_to "#{ @user.followings.count}", user_followings_path(@user.id) %></th>
        </tr>
        <tr>
          <th>フォロワー</th>
          <th><%= link_to "#{ @user.followers.count}", user_followers_path(@user.id) %></th>
        </tr>
      </table>
      <% if @user == current_user %>
        <%= link_to "編集", edit_user_path(@user), class: "btn btn-success" %>
      <% end %>
      <!--ジャンル-->
    </div>
        <!--投稿一覧-->
    <div class="col-7 offset-1">
      <div class="row">
      <% if @user == current_user %>
        <div class="col-6">
          <h4>投稿レシピ一覧　<%= @recipes.count %></h4>
        </div>
        <div class="col-5 offset-1">
          <%= link_to "新規投稿", new_recipe_path, class: "btn btn-success" %>
        </div>
        <%= render 'public/recipes/index', recipes: @recipes %>
      </div>
      <% else %>
        <h4>投稿レシピ一覧　<%= @recipes.published.count %></h4>
        <%= render 'public/recipes/index', recipes: @recipes.published %>
      <% end %>
    </div>

  </div>
</div>